<div class="footer">
  <div class="footer-content">
    <div class="footer-section about">
      <a href="/home"><img style="height:110px; width:100px; margin:0px 150px 0px;" src="/HOMEimages/PratibhaLogo.svg" class=""></a>
      <p class="footer-about-text"><span style="color:#E80B73;">Pratibha</span> is a complete Web Application solution designed for solving the problem of millions of women who are fighting one on one with PCOS with a self test analyser based on Machine Learning, a community forum for connecting to other women and doctors at different parts of the World.</p>
      <div class="contact" style="margin-bottom:10px;">
        <span><i class="fas fa-envelope"> &nbsp; gamientsociety@gmail.com</i></span>
      </div>
    </div>

    <div class="footer-section links">
      <h2>Quick Links</h2>
      <br>
        <a style="text-decoration:none;"class="sub-links" href="/home/blogpage"><li><span class="sub-links sublink-1">Community</span></li></a>
        <br>
        <a style="text-decoration:none;"class="sub-links" href="https://pcosmlmodel-api.herokuapp.com/"><li><span class="sub-links sublink-1">Self Test</span></li></a>
        <br>
        <a style="text-decoration:none;"class="sub-links" href="/yogadiet"><li><span class="sub-links sublink-1">Yoga & Food</span></li></a>
        <br>
        <a style="text-decoration:none;"class="sub-links" href="/patient/dashboard"><li><span class="sub-links sublink-1">Dashboard</span></li></a>

    </div>

    <div class="footer-section contact-form">
      <h2>Contact us</h2>
      <br>
      <form class="" action="mailto:gamientsociety@gmail.com" method="post">
        <input type="text" name="email" class="text-input contact-input-email" placeholder="Your email address" value="">
        <textarea class="text-input contact-input" name="message" rows="4" cols="42" placeholder=" Your message here"></textarea>
        <br>
        <button style="border-color: #E80B73;color: #fff;"type="submit" class="btn btn-lg footer-button1"name="button">Send</button>

      </form>
    </div>
  </div>
  <div class="footer-bottom">
    <span>&#169;</span> Designed by Team Vision
  </div>
</div>
