<%- include('partials/header.ejs') %>

<h1 class="doc-heading">Patient Details</h1>

<div style="margin: 20px auto;"class="container-fluid">
  <div style="background-color: #FF827F;" class="card details-card">
    <table style="margin: 60px 90px 60px;" class="table doc-table">
      <tr class="doc-row">
        <td class="doc-details">Name : <p class="doc-details-input">Neha Sharma</p></td>
        <td class="doc-details">Age : <p class="doc-details-input">26</p></td>
      </tr>

      <tr class="doc-row">
        <td class="doc-details">Mobile No : <p class="doc-details-input">1234567890</p></td>
        <td class="doc-details">Gender : <p class="doc-details-input">F</p></td>
      </tr>

      <tr class="doc-row">
        <td class="doc-details">Email : <p class="doc-details-input">abc@gmail.com</p></td>
        <td class="doc-details">PCOS Detected : <p class="doc-details-input">Yes</p></td>
      </tr>
    </table>
  </div>



</div>

<!-- Problems Section -->
<hr style="width:10%; border-top: 2px solid #757575; margin:40px auto 40px;">

<h1 class="doc-heading">Problems Faced</h1>
<div style="margin: 20px auto;"class="container-fluid">
  <div style="background-color: #FF827F;" class="card details-card">
    <p class="problems">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>


<!-- Medicnes Problems -->
<hr style="width:10%; border-top: 2px solid #757575; margin:40px auto 40px;">
<h1 class="doc-heading">Medicines</h1>
<div style="margin: 20px auto;"class="container-fluid">
  <div style="background-color: #FF827F;" class="card details-card dc">
    <ul style="padding: 10% auto; ">
      <li class="medicines-names">Medicine 1</li>
      <li class="medicines-names">Medicine 2</li>
      <li class="medicines-names">Medicine 3</li>
    </ul>
  </div>
</div>
<%- include('partials/footer.ejs') %>
