<%- include('partials/header.ejs') %>
<h1 class="food-text">Food Section</h1>

<section class="food">
  <div class="container">
    <div class="card">
      <div class="imgBx">
        <img class="yoga-images" src="\HOMEimages\food1.jpg" alt="">
      </div>
      <div class="content">
        <div class="contentBx">
            <p>Always include fruits in your diet.<br></p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <img  class="yoga-images" src="\HOMEimages\food2.jpg" alt="">
      </div>
      <div class="content">
        <div class="contentBx">
            <p>Eat fresh Vegetables.</p>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <img  class="yoga-images" src="\HOMEimages\food3.jpeg" alt="">
      </div>
      <div class="content">
        <div class="contentBx">
            <p>Include variety of food in your diet.</p>
        </div>

      </div>
    </div>
    </div>
</section>

<hr style="width:10%; border-top: 2px solid #757575; margin:10px auto; margin:bottom:0px;">
    <h1 class="food-text">Yoga Section</h1>


    <section class="food">
      <div class="container">
      <div class="card">
        <div class="imgBx">
          <img  class="yoga-images" src="\HOMEimages\yoga1.jpeg" alt="">
        </div>
        <div class="content">
          <div class="contentBx">
              <p>Start with simple yoga poses.</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="imgBx">
          <img class="yoga-images" src="\HOMEimages\yoga2.jpeg" alt="">
        </div>
        <div class="content">
          <div class="contentBx">
              <p>Yoga improves your respiratory system.</p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="imgBx">
          <img  class="yoga-images" src="\HOMEimages\yoga3.jpeg" alt="">
        </div>
        <div class="content">
          <div class="contentBx">
              <p>Yoga helps to remain you calm.</p>
          </div>
        </div>
      </div>
      </div>
    </section>

<br> <br>


<%- include('partials/footer.ejs') %>
