<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<div class="container-fluid main-Container">
  <div class="content main-Content">
    <h1 style="font-weight:bold; font-size:80px; color:#fff; padding-top: 18%;">PCOS</h1>
    <h2 style="margin: 20px;">Empowered Women empower other women!</h2>
    <a href="https://pcosmlmodel-api.herokuapp.com/" type="submit" class="btn btn-dark btn-lg">Check Up</a>
  </div>
</div>


    <!-- about  -->
    <hr style="width:10%; border-top: 2px solid #757575; margin:60px auto 0px; margin:bottom:0px;">

    <section " class="About">
        <div class="aboutContainer">
          <div class="aboutText">
            <h1 style="padding: 30px 0 0 0;color:#000;font-weight: bold; font-size:50px;">About</h1>
          </div>

          <table>
            <tr>
              <td style="padding-left: 7%;"><img style="width:100%;" src="/HOMEimages/middle.png" alt=""></td>
              <td><div class="textaboutContainer">
                  <div style="margin-top: 20px;"class="p aboutText1"> <span class="highlight"> Polycystic Ovary Syndrome (PCOS) </span>is a disorder involving infrequent, irregular or prolonged menstrual periods, and
                      often excess male hormone (androgen) levels. The ovaries develop numerous small collections of fluid called follicles
                      and may fail to regularly release eggs.
                  </div>
                  <div class="p aboutText1">Ever thought if you were a woman having PCOS! Let's have the perspective & thoughts of that female, feel the pain and
                      shyness that girl is going through!
                  </div>
              </div></td>
            </tr>
          </table>
    </div>
</section>


  <!-- Steps for checking yourself -->
  <hr style="width:10%; border-top: 2px solid #757575; margin:60px auto 0px;">

<div style="background-color:hsla(300, 100%, 50%, 0.22); margin-top:40px; class="container-fluid">
  <h1 class="steps-heading">Steps for analysing PCOS</h1>
  <div class="row">
    <div class="col-md-6">
      <div  style="margin-left:100px;" class="container-fluid steps-container">

        <div class="accordion">
          <div class="icon"></div>
          <h5><i class="fas fa-plus"></i> Step 1</h5>
        </div>
        <div class="panel">
          <p class="steps-text">You might have Irregular, heavy, or missed periods due to missed ovulation—the release of an egg from your ovaries.</p>
        </div>

        <div class="accordion">
          <div class="icon"></div>
          <h5><i class="fas fa-plus"></i> Step 2</h5>
        </div>
        <div class="panel">
          <p class="steps-text">You might have unwanted hair growth on your face—especially the upper lip and on the chin, back, chest, and in other places where men typically grow hair. You might lose hair or see it thinning. </p>
        </div>

        <div class="accordion">
          <div class="icon"></div>
          <h5><i class="fas fa-plus"></i> Step 3</h5>
        </div>
        <div class="panel">
          <p class="steps-text">You might develop acne on your face, chest, and upper back, and put on extra weight, particularly around your middle.</p>
        </div>

        <div class="accordion">
          <div class="icon"></div>
          <h5><i class="fas fa-plus"></i> Step 4</h5>
        </div>
        <div class="panel">
          <p class="steps-text">You could notice dark skin in the creases of your armpits or on your neck. Sometimes you might have mood swings.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <img style="margin: 40px 0px 0px 150px; width:400px; height: 400px; border-radius:10%; " src="\HOMEimages\third-section.png" alt="">
    </div>
  </div>
</div>

<!-- Check YourSelf -->
<hr style="width:10%; border-top: 2px solid #757575; margin:80px auto 0px;">
    <section class="hero">
        <div class="heroContainer">
            <img class="item mainImage2" src="/HOMEimages/Girl2.png" alt="Girl2">
            <div class="item">
                <h1 class="mainHeadingAbout">Diagnosis</h1>
                <h6 class="mainSubLine">Before going to a doctor you can confirm by diagnosing PCOS by clicking on the link given below. You will be redirected to another page having Machine Learning Analyzer for confirming PCOS. </h6>
                <a class="checkoutButton btn btn-lg" class="cta" href="https://pcosmlmodel-api.herokuapp.com/"><button class="">Predict</button></a>
            </div>
        </div>
    </section>


  <!--Features Section  -->
  <section class="features">
      <div class="container">
              <div class="features-text">
                  <h1 style="color: #fff; font-weight:bold;">Features</h1>
              </div>
                <div class="row align-item-center" style="padding-bottom: 50px;">
                    <div class="col-md-4 col-sm-6 project_icon">
                        <div class="single_project">
                            <i class="fa fa-user-circle-o features-icon fa-5x" aria-hidden="true"></i>
                            <h3 class=features-subheading>Patients</h3>
                            <p class=features-subtext>Provides an interactive platform with Dashboard to all the PCOS patients to book meetings, get the presciptions from the doctors & maintain a history of their lab reports and previous meetings.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 project_icon align-item-center">
                        <div class="single_project">
                            <i class="fa fa-user-circle-o features-icon fa-5x" aria-hidden="true"></i>
                            <h3 class=features-subheading>Doctors</h3>
                            <p class=features-subtext>Provides an interface for the doctors to examine the PCOS patients with their lab reports and the tools that we provide for PCOS Self Test and keep a timey check on their patients.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 project_icon align-item-center">
                        <div class="single_project">
                            <i class="fa fa-user-circle-o features-icon fa-5x" aria-hidden="true"></i>
                            <h3 class=features-subheading>Community</h3>
                            <p class=features-subtext>Provides a portal for community bonding where other PCOS Patients can interact and help each other with the best yoga and food practices. They can also write the blogs in the community section.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


  <!-- Doctor Section -->
  <h1 class="doctors-heading">Meet the Doctors</h1>
  <section class="doctors">
    <div class="container doctor-container">
      <div class="card doctor-card">
          <div class="imgBx" data-text="Doctor1">
            <img src="/HOMEimages/doctor1.jpeg" alt="" class="doctor-image">
          </div>
          <div class="content doctor-content">
            <div class="doctor-subcontent">
              <h3 style="margin:10px 0px 5px 10px;">Dr. RSV Bhalla</h3>
              <p class="doctor-subtext">A senior Heart Specialist at Apollo Hospital, New Delhi</p>
              <button type="button" style="border-radius:0px; margin:15px 0px 5px 10px;" name="button"><a href="/patient/appointment">Book Appointment</a></button>
            </div>
          </div>
      </div>


      <div class="card doctor-card">
        <div class="imgBx" data-text="Doctor2">
          <img src="/HOMEimages/doctor2.jpeg" alt="" class="doctor-image">
        </div>
        <div class="content doctor-content">
          <div class="doctor-subcontent">
            <h3 style="margin:10px 0px 5px 10px;">Dr. Priya Singh</h3>
            <p class="doctor-subtext">Senior Gynecologist at Fortis Hospital.</p>
            <button type="button" style="border-radius:0px; margin:15px 0px 5px 10px;" name="button"><a href="/patient/appointment">Book Appointment</a></button>
          </div>
        </div>
      </div>

      <div class="card doctor-card">
        <div class="imgBx" data-text="Doctor3">
          <img src="/HOMEimages/doctor3.jpeg" alt="" class="doctor-image">
        </div>
        <div class="content doctor-content">
          <div class="doctor-subcontent">
            <h3 style="margin:10px 0px 5px 10px;">Dr. , MBBS. Mahesh Chawla</h3>
            <p class="doctor-subtext">General Physician at Apollo Hospital, New Delhi.</p>
            <button type="button" style="border-radius:0px; margin:15px 0px 5px 10px;" name="button"><a href="/patient/appointment">Book Appointment</a></button>
          </div>
        </div>
      </div>

      <div class="card doctor-card">
        <div class="imgBx" data-text="Doctor4">
          <img src="/HOMEimages/doctor4.jpeg" alt="" class="doctor-image">
        </div>
        <div class="content doctor-content">
          <div class="doctor-subcontent">
            <h3 style="margin:10px 0px 5px 10px;">PhD. Miss Rekha Verma</h3>
            <p class="doctor-subtext">Gynecologist at Medwin Cares, Greater Noida.</p>
            <button type="button" style="border-radius:0px; margin:15px 0px 5px 10px;" name="button"><a href="/patient/appointment">Book Appointment</a></button>
          </div>
        </div>
      </div>

      </div>

    </div>
  </section>


   <div class="container-fluid six-girls-image" style="padding:0%;">
    <img style="width: 100%" height="auto" src="/HOMEimages/women3.png" class="footer-image" alt="women3">
   </div>

<!-- Steps Javascript section -->
  <script src="css/accordion.js"></script>
<%- include('partials/footer.ejs') %>
