.Community-heading{
  font-family: "Montserrate", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
}

.blog-box{
  background-color: #FFCCbb;
  width: 340px;
  margin: 40px auto;
  height: 400px;
  /* text-align: center; */
  font-family: "Montserrate", sans-serif;
  box-shadow:0px 7px 7px 0px rgba(0, 0, 0, 0.3);
}

.blog-box:hover{
  box-shadow:0px 7px 8px 0px rgba(0, 0, 0, 0.50);
  transform: scale(1.03);
}

.Community-Sub-heading{
  margin: 40px;
  text-align: center;
  font-family: "Montserrate", sans-serif;
}

.container .blog-cont{
  margin: 20px;
  display: inline;
}

.box-heading{
  margin: 20px 10px;
  color: #000;
  font-family: "Montserrate", sans-serif;
}

.community-btn{
  margin: 20px 10px;
  display: inline;
  background-color: #E80B73;
}

.community-blog-box{
  background-color: #fff;
  margin: 10px;
  height: 250px;
}

.form-community{
  text-align: center;
}

.create-btn{
  text-align: center;
  margin: 40px auto;
}

.community-textarea{
  border-color: #E80B73;
}

.writtenby-heading{
  padding: 5px;
  display: inline;
}

.message-writer{
  text-align: center;
}

.create-message-btn{
  margin: 40px auto;
}
