@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.navbar-text{
  color: #fff;
  font-size: 20px;
}

.nav_button{
  color: #000;
  margin: 0 10px;
  font-size: 20px;
}

.header-above{
  margin-bottom: 0px;
}
